.main {
  margin: 50px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 4px 8px 28px 4px rgba(38, 38, 38, 0.05);
  background: white;
  width: 800px;
  display: flex;
  justify-content: space-between;
}
.some {
  color: #1f1f1f;
  &._secondary {
    color: olive;
    background: bisque;
  }
  &._outline {
    border-radius: 0;
  }
}
