<div>HOST:</div>
<div class="main">
    <button fox-button>primary</button>
    <button class="_secondary" fox-button>100.41235679 $</button>
    <a class="_link" fox-button href="https://google.com">link</a>
    <a class="_outline" fox-button href="https://google.com">outline</a>
</div>
<div class="main">
    <button class="some" fox-button>primary</button>
    <button class="some _secondary" fox-button>secondary</button>
    <a class="_link some" fox-button href="https://google.com">link</a>
    <a class="some _outline" fox-button href="https://google.com">outline</a>
</div>
